{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Vagas Favoritas</title>
        <link rel="stylesheet" href="{% static 'favoritas.css' %}">
    </head>
    <body>
        <h1>Vagas Favoritas</h1>

        <div class="vaga">
            <h2>Estágio em Desenvolvimento de Software</h2>
            <p>Empresa ABC</p>
            <p>Rio de Janeiro - Botafogo</p>
            <p>Tecnologia e Desenvolvimento</p>
            <p>Mais detalhes</p>
        </div>

        <div class="vaga">
            <h2>Estágio em Análise de Investimentos</h2>
            <p>Empresa XYZ</p>
            <p>São Paulo - Itaim Bibi</p>
            <p>Mercado Financeiro</p>
            <p>Mais detalhes</p>
        </div>

        <div class="vaga">
            <h2>Estágio em Desenvolvimento Comercial</h2>
            <p>Empresa 123</p>
            <p>Porto Alegre - A distancia</p>
            <p>Vendas e Comercial</p>
            <p>Mais detalhes</p>
        </div>

    </body>

</html>
