body {
    font-family: Arial;
}

h1 {
    color: blue;
}

.vaga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}
